   .carta{
    border-width: 1px; 
    border-style: solid;
    border-radius: 8px;
    position:absolute;
    width:110px;
    height: 170px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.mesa{
    position: relative;
    width:1500px;
    height:1000px;
    background-image: url(../mesa/mesa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50px;
}

.botonIniciar{
    
    cursor: pointer;
    background-color:brown;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   color: beige;
    width: 450px;
    height: 80px;
    top: 50%;
    left:35%;
    position: absolute;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    
}

.botonesDirectores{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 50px;
    
}

.botonDeal{
    cursor: pointer;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 250px;
    height: 60px;
    margin-left: 10%;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    background-color:darkgreen;
    
}

.botonDoblar{
    cursor: pointer;
    background-color:darkgreen;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 250px;
    height: 60px;
    margin-left: 4%;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
 
    
}

.botonPlantarse{
    margin-left: 4%;
    cursor: pointer;
    background-color:darkgreen;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    
    
}

.botonPedir{
    margin-left: 4%;
    cursor: pointer;
    background-color:darkgreen;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    
    
}
.botonApostar10{
    cursor: pointer;
    background-color:rgb(140, 42, 165);
    font-weight: 900;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    left: 2%;
    
}

.botonApostar100{
    cursor: pointer;
    background-color:rgb(0, 38, 255);
    font-weight: 900;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    left: 8%;
    
}

.botonApostar500{
    cursor: pointer;
    background-color:rgb(119, 1, 253);
    font-weight: 900;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    left: 14%;
    
}

.botonApostar1000{
    cursor: pointer;
    background-color:rgb(255, 0, 0);
    font-size: 12px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: beige;
    left: 20%;
    
}



.control{
    width: 1500px; 
    height: 100px;
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apuestaMano1{
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    border-width: 1px;
    border-color: beige;
    left: 26.7%;
    top: 52.9%;
    text-align: center
}
.apuestaMano2{
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    border-width: 1px;
    border-color: beige;
    left: 48.3%;
    top: 60.2%;
    text-align: center
}
.apuestaMano3{
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 30px;
    border-width: 1px;
    border-color: beige;
    left: 70.7%;
    top: 52.6%;
    
}

.mano1{width: 130px;height: 170px;top: 59.5%;left:20.5%;position: absolute;transform: rotate(27deg); cursor: pointer;}
.mano2{width: 130px;height: 170px;top: 67.5%;left:46%;position: absolute;cursor: pointer;}
.mano3{width: 130px;height: 170px;top: 59%;left:72%;position: absolute;transform: rotate(-21deg);cursor: pointer;}
.mano4{width: 130px;height: 170px;top: 25%;left:46%;position: absolute}

.cdts{width: 250px;
    height: 70px;
    top: 2%;
    left:2%;
    position: absolute;
    background-color:darkgoldenrod;
    border-radius: 30px;
    border-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    


.puntero0{
    transform: rotate(23deg);
    background-image: url("../mesa/puntero.png");
    width: 90px;
    height: 90px;
    left: 26%;
    top: 44%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.puntero1{
    background-image: url("../mesa/puntero.png");
    width: 90px;
    height: 90px;
    left: 47.3%;
    top: 51%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.puntero2{
    transform: rotate(-23deg);
    background-image: url("../mesa/puntero.png");
    width: 90px;
    height: 90px;
    left: 69.5%;
    top: 43.5%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
